.btn-dark {
  margin-top: 2%;
}

form {
  margin-bottom: 10%;
  border-style: groove;
  padding: 1.5rem;
  background-color: #dbe9f4;
  border-radius: 2rem;
  width: 85%;
  margin-left: 3rem;
  box-shadow: -30px -16px #097cff;
}
