.container-header {
  background-image: url("../src/assets/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 0;
  padding-left: 3rem;
  padding-top: 1rem;
  padding: 0.2rem 3rem;
  background-color: teal;
}
